.carousel {
  
}

.title {
  font-size: 24px;
  color: #FF6060;
}
.title_photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag_rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailPage{
  margin-right: 150px;
  margin-left: 150px;
}

.rating{
  font-size: 24px;
  color: #FF6060;
}
.location {
  color: #FF6060;
}
.host_name{
  color: #FF6060;
  width:30%;
}
.host {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.host img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Pour une image de profil ronde */
  margin-right: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  background-color: #FF6060;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.rectangles {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.container {
  width: 20%;
}
.rectangle {
  width: 50% !important;
  /* Autres styles par défaut pour les composants Rectangle */
}
@media (max-width: 768px) {
  .detailPage{
    
    margin-left: 50px;
  }
  
}