/* Styles pour la couverture */
#root {
    width: 100%;
  }
  
.cover-image {
    background-image: url('../images/cover.PNG');
    background-size: cover;
    background-position: center center;
    height: 200px;
    width:80%;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  
  /* Styles pour le texte de la couverture */
  .cover-image h2 {
    font-size: 24px;
  }
  
  /* Styles pour le conteneur des cartes */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
  }

  
  /* Styles pour chaque carte */
  .card {
    width: calc(33.33% - 100px); /* Pour créer une disposition en grille de 3 colonnes */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
  
  }
  
  /* Styles pour le logo central */
  .center-logo {
    text-align: center;
    margin-top: 20px;
  }
  
  .center-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
   /* layout.css */


.card-cover {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ajustez la taille de l'image */
  border-radius: 10px;
  width: 300px;
  height: 200px;
}

.card-title {
  position: relative; /* Position absolue pour superposer le titre */
  top: -60px; /*  titre en bas de la carte */
  left: 0; /* Alignez le titre à gauche de la carte */
  padding: 10px;
  margin: 0;
  color: white; /* Couleur du titre */
  width: 80%;
  text-align: center;
  font-size: 12px;
  background-color: gray;
}
