.cover-image {
    background-size: cover;
    background-position: center center;
    height: 200px;
    width:80%;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  
  /* Styles pour le texte de la couverture */
  .cover-image h2 {
    font-size: 24px;
  }
  