.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  
  .rectangle {
    cursor: pointer;
    width: 1050px; /* Largeur ajustée */
    height: 40px;
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    user-select: none;
    margin-bottom: 20px; /* Ajustement de la marge inférieure */
    margin-top: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .arrow::after {
    content: '⮝';
    font-size: 18px;
    transition: transform 0.2s ease;
  }
  .expanded .arrow {
    transform: rotate(180deg); 
  }
  
  .grayRectangle {
    width: 1050px; /* Largeur ajustée pour correspondre au rectangle rouge */
    background-color: #F6F6F6;
    border-radius: 5px;
    color: #FF6060;
    padding: 10px;
    margin-top: -20px; 
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    .rectangle {
      width: 50% !important; /* Nouvelle largeur sur les appareils mobiles */
    }
  }