/* Header.module.css */
.header {
  display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
  align-items: center; 
    padding: 10px;
  }
  
  .logo {
    width: 150px; 
    height: 50px;
    margin-left: 150px; /* Espace autour du logo */
    margin-bottom: 20px;
    background-image: url('../images/Logo.PNG'); /* Chemin vers l'image */
    background-size: cover; 
    background-repeat: no-repeat; 
   
  }
  
  .header-right {
   
  position: relative; /* Position relative pour positionner le menu par rapport au logo */

    float: right;
    margin-left: 900px; 
  }
  /* Style pour les liens du menu */
.nav-link {
  color: #FF6060; /* Couleur rouge pour les liens */
  text-decoration: none; 
  margin-right: 20px; /* Espacement entre les liens */
}
.nav-link:hover {
  color: #FF6060; /* Couleur rouge lors du survolez */
}
.active-link:hover {
  color: #FF6060; /* Couleur rouge même au survol */
}
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
    
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  


.pending {
 
  text-decoration: none; 
}

.active-link {
  text-decoration: none; 
  color: #FF6060;
  border-bottom: 2px solid #FF6060; /* Ligne de soulignement rouge en dessous du texte */
}
@media (max-width: 768px) {
  .header-right {
    font-size: 13px;
    margin-left: 50px; 
    margin-top:20px;
  }
  .logo {
   
    margin-left: 20px; /* Espace autour du logo */
    margin-bottom: 0px;
  
   
  }
  .nav-link{
    margin-right:0px;
  }
}